.background-module-img{
    height: 80vh;
    min-height: 600px;
}
.rocket-icon{
    height: 50px;
}
.small-header-name-bg-module {
    font-size: 15px;
}
.small-text-bg-module {
    font-size: 12px;
}
.big-moving-text-bg-module {
    font-size: 75px;
}

@media screen and (max-width: 992px) {

.big-moving-text-bg-module {
        font-size: 65px;
        }
  }

  @media screen and (max-width: 600px) {

    .rocket-icon{
        height: 40px;
    }
    .big-moving-text-bg-module {
        font-size: 32px;
    }
  }