.bg-wrapper-contact-us {
    min-height: 150px;
}

.contact-us-image {
    padding-bottom: 50%;
}

.h2-contact-header {
    font-size: 35px;
}
.h5-contact-header {
    font-size: 14px;
    border-bottom: 2px solid #000;
}

@media screen and (max-width: 600px) {

.h2-contact-header {
    font-size: 25px;
}
                  
}