.bg-wrapper-contact-us {
    min-height: 150px;
}

.contact-us-image {
    min-height: 615px;
}

.h2-contact-header {
    font-size: 35px;
}
.h5-contact-header {
    font-size: 14px;
    border-bottom: 2px solid #000;
}

.hs-form-required {
    color: #B42121;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    border: none;
    border-bottom: 2px solid #000;
    width: 100%;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input {
    display: inline-block;
}

.hs-richtext{
    font-size: 15px;
}