.h2-blue-bg-box {
    font-size: 35px;
}
.text-for-box-child-short{
    z-index: 2;
    font-size: 25px;
}
.blog-name, .blog-author {
    font-size: 10px;
}
.box-child-short-first,
.box-child-short {
    min-height: 150px;
}

.blog-name {
    transform: translateY(-20px);
    opacity: 0;
}

.blog-author {
    transform: translateY(20px);
    opacity: 0;
}

.overlay:hover .blog-name,
.overlay:hover .blog-author {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 992px) {

.blog-name,
.blog-author,
.overlay:hover .blog-name,
.overlay:hover .blog-author {
    transform: none;
    opacity: 1;
}
}

@media screen and (max-width: 600px) {

.box-child-short-first {
    min-height: 125px;
}
.box-child-short {
    min-height: 195px;
}
.h2-blue-bg-box {
    font-size: 30px;
}
.text-for-box-child-short {
    font-size: 22px;
}            
}