.h2-blue-bg-box {
    font-size: 35px;
}

.text-for-box-child-short{
    z-index: 2;
    font-size: 25px;
}

.blog-name, .blog-author {
    font-size: 10px;
    z-index: 2;
}

.box-child-short {
    min-height: 150px;
    z-index: 0;
}

.blog-name {
    transform: translateY(-20px);
    opacity: 0;
}

.blog-author {
    transform: translateY(20px);
    opacity: 0;
}

.overlay:hover .blog-name {
    transform: translateY(0px);
    opacity: 1;
}

.overlay:hover .blog-author{
    transform: translateY(0px);
    opacity: 1;
}