.header-wrapper{
  width: 100%;
}

.logo {
    margin: 18px;
    height: 100%;
    max-height: 30px;
    position: relative;
    z-index: 100000;
}

.burger-menu {
  opacity: 0;
  visibility: hidden;
  height: 0vh;
}

.menu-open .burger-menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 2;
  width: 100%;
  top:0;
  right:0;
  overflow: auto;
  height: 100vh;
  background: rgba(28,30,33,.1);
  transition: all .1s ease-in;
}

.mobile-toggle {
  position: relative;
  padding: 15px 0;
  z-index: 100000;
  cursor: pointer;
  transition: all .2s ease;
}

.burger-menu-icon, .burger-menu-icon:before, .burger-menu-icon:after {
  width: 35px;
  height: 3px;
  background-color: #000;
  display: block;
  position: relative;
}

.burger-menu-icon:before {
  content: '';
  position: absolute;
  top: -10px;
  transition: all .2s linear;
}

.burger-menu-icon:after {
  content: '';
  position: absolute;
  top: 10px;
}

.menu-open .burger-menu-icon {
  visibility: hidden;
}


.menu-open .burger-menu-icon:before {
  visibility: visible;
  transform: rotate(50deg);
  top: 2px;
  background-color: #fff;
}

.menu-open .burger-menu-icon:after {
  visibility: visible;
  transform: rotate(-50deg);
  top: 1px;
  background-color: #fff;
}

span.hide-kids {
  position: absolute;
  width: 30px;
  float: right;
  top: 5px;
  bottom: 5px;
  right: 20px;
  height: 60px;
  z-index: 1;
  cursor: pointer;
}

span.hide-kids:after {
  content: '+';
  position: absolute;
  font-size: 30px;
  color: white;
  font-weight: 100;
  transform: rotate(0);
  transition: all .2s ease;
  top: 50%;
  margin-top: -10px;
  right: 0;
}

.show-kids span.hide-kids:after {
  transform: rotate(45deg);
}


.burger li.hs-menu-item.hs-menu-depth-1.hs-item-has-children>a {
  padding-right: 50px;
}


.burger-menu .hs-menu-wrapper.hs-menu-flow-horizontal li.hs-menu-item.hs-menu-depth-2 a {
  padding-right: 22px;
  display: inline-block;
  font-size: 22px;
  padding: 10px 50px 10px 10px;
}
.burger-menu .hs-menu-wrapper.hs-menu-flow-horizontal li.hs-menu-item.hs-menu-depth-2 li.hs-menu-item.hs-menu-depth-3 a {
  font-size: 16px;
  padding-right: 70px;
}



li.hs-menu-item.hs-menu-depth-1{
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.burger-wrapper{
  height: 100vh;
}


.menu {
  width: 100%;
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
  display: block;
  color: #fff;
  font-weight: 200;
  width: 100%;
  float: none;
  font-size: 28px;
  padding: 20px;
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li {
  display: block;
  text-align: right;
  position: relative;
  height: 100%;
}

.menu ul  {
  padding-left: 0px;
  list-style-type: none;
  font-weight: 300;
  font-size: 20px;
}

.menu li a{
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
}

.menu li a:hover{
  opacity: .5;
  text-decoration: none;
}

.burger-left {
  background-color: #fff;
  height: 100%;
}

.help-icon{
  max-height: 40px;
}

.help-h2{
  font-size: 40px;
  font-weight: 700;
}

.help-text {
  font-size: 14px;
  font-weight: 400;
}

.igo-logo img {
  max-width: 110px;
}


.burger-right {
  z-index: 2;
  width: 100%;
  margin: 0;
}

.burger-right:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  background-color: #000;
  opacity: .8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

