
header{
    padding: 10px;
}

.header-wrapper{
  z-index: 3;
  position: relative;
}

.logo {
    margin: 18px;
    height: 100%;
    max-height: 30px;
}

#hamburger-menu-toggle span{
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #000;
  z-index: 100000;
  cursor: pointer;
  transition: all .1s ease;
}
/* 


#hamburger-menu-toggle:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 35px;
  height: 3px;
  background: #1c1e21;
  display: block;
  position: relative;
  transition: all .05s linear;
}

#hamburger-menu-toggle:after {
  content: '';
  position: absolute;
  top: 10px;
  transition: all .2s ease;
  width: 35px;
    height: 3px;
    background: #1c1e21;
    display: block;
} */



#hamburger-menu {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  top:0;
  right:0;
  overflow: auto;
}

#hamburger-menu:before {
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: .2;
}

.menu {
  width: 100%;
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.active a, .burger-menu .hs-menu-wrapper.hs-menu-flow-horizontal a.active-parent {
  color: rgba(255,255,255,.6);
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
  display: block;
  color: #fff;
  font-weight: 100;
  width: 100%;
  float: none;
  font-size: 30px;
  padding: 25px;
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li {
  display: block;
  text-align: right;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.menu ul  {
  padding-left: 0px;
  list-style-type: none;
  font-weight: 300;
  font-size: 30px;
}

.menu li {
}

.menu li a{
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
}

.menu li a:hover{
  opacity: .5;
  text-decoration: none;
}

.burger-left {
  background-color: #fff;
  height: 100%;
}

.help-icon{
  max-height: 40px;
}

.help-h2{
  font-size: 40px;
  font-weight: 700;
}

.help-text {
  font-size: 14px;
  font-weight: 400;
}

.igo-logo img {
  max-width: 110px;
}


#burger-right {
  z-index: 2;
  width: 100%;
  margin: 0;
}

.burger-right:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  background-color: #000;
  opacity: .5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


 
