header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.header-wrapper{
  width: 100%;
}

.logo {
    margin: 18px;
    height: 100%;
    max-height: 30px;
    position: relative;
    z-index: 100000;
}

.burger-wrapper{
  position: relative;
  height: 100%;
  z-index: 0;
}

.burger-wrapper:before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #000;
  opacity: .8;
  height: 100%;
  width: 100%;
}

.burger-menu {
  opacity: 0;
  visibility: hidden;
  height: 0vh;
}

.menu-open .burger-menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 2;
  width: 100%;
  top:0;
  right:0;
  height: 100%;
  transition: all .1s ease-in-out;
}

.mobile-toggle {
  position: relative;
  padding: 15px 0;
  z-index: 100000;
  cursor: pointer;
  transition: all .2s ease;
}

.burger-menu-icon, .burger-menu-icon:before, .burger-menu-icon:after {
  width: 35px;
  height: 3px;
  background-color: #000;
  display: block;
  position: relative;
}

.burger-menu-icon:before {
  content: '';
  position: absolute;
  top: -10px;
  transition: all .2s linear;
}

.burger-menu-icon:after {
  content: '';
  position: absolute;
  top: 10px;
  transition: all .2s linear;
}

.menu-open .burger-menu-icon {
  visibility: hidden;
}

.menu-open .burger-menu-icon:before {
  visibility: visible;
  transform: rotate(50deg);
  top: 2px;
  background-color: #fff;
}

.menu-open .burger-menu-icon:after {
  visibility: visible;
  transform: rotate(-50deg);
  top: 1px;
  background-color: #fff;
}

/* Huvudmeny kategorier */

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
  display: block;
  color: #fff;
  font-weight: 200;
  width: 100%;
  float: none;
  font-size: 28px;
  padding: 20px;
}

/* Undermeny 1 */

.burger-menu .hs-menu-wrapper.hs-menu-flow-horizontal li.hs-menu-item.hs-menu-depth-2 a {
  padding-right: 22px;
  display: inline-block;
  font-size: 22px;
  padding: 10px 40px 10px 10px;
  content: none;
}


/* Undermeny 2 */

.burger-menu .hs-menu-wrapper.hs-menu-flow-horizontal li.hs-menu-item.hs-menu-depth-2 li.hs-menu-item.hs-menu-depth-3 a {
  font-size: 16px;
  padding-right: 60px;
}

/* Plus meny */

.burger-menu li.hs-menu-item.hs-menu-depth-1.hs-item-has-children > :first-child {
  position: relative;
}

.burger-menu li.hs-menu-item.hs-menu-depth-1.hs-item-has-children > :first-child:after{
  content: '+';
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: 200;
  padding-left: 0.5%;
}

.menu {
  width: 100%;
}

.menu ul  {
  padding-left: 0px;
  list-style-type: none;
  font-weight: 300;
  font-size: 20px;
}

.menu li a{
  text-decoration: none;
  color: #fff;
  padding-right: 30px;
}

.menu li a:hover{
  opacity: .5;
  text-decoration: none;
}

.menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li {
  display: block;
  text-align: right;
  position: relative;
  height: 100%;
}

li.hs-menu-item.hs-menu-depth-1{
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.burger-left {
  display: inline;
  background-color: #fff;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
}

.help-icon{
  max-height: 40px;
}

.help-h2{
  font-size: 40px;
  font-weight: 700;
}

.help-text {
  font-size: 14px;
  font-weight: 400;
}

.igo-logo img {
  max-width: 110px;
}


.burger-right {
  z-index: 2;
  width: 100%;
  margin: 0;
  overflow: scroll;
  height: 100%;
  margin-top: 80px;
}

.burger-right:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


@media screen and (max-width: 600px) {

.burger-left {
  display: none;
}
        
  }
  